@import url("../../lib/yui/reset-fonts-grids.css") screen;

input:focus, textarea:focus {
    border-color:#538200;
    border-style:solid;
    border-radius: 4px;
}

::selection      { background:#538200; color:#ffffff; /* Safari and Opera */ }
::-moz-selection  { background:#538200; color:#ffffff; /* Firefox */ }

a, a:link, a:visited,
a.btn:link, a.btn:visited {
    color : #004d99;
    text-decoration: none;
}

table .btn-group {
    white-space: nowrap;
}

table .btn-group .btn {
    float: none;
    display: inline-block;
}

a:hover, a:active {
    color : #538200;
    text-decoration: none;
}

.overdue,
.debit {
	color : #cc0000;
}

a.popup {
    background : transparent url("../img/pop-up-link.png") center right no-repeat;
	padding-right : 15px;
}

body {
	text-align : left;
    padding:0 0 4em 0;
  font-family: arial, verdana, helvetica, sans-serif;
}

br.clear {
	clear : both;
	line-height : 1px;
}

form {
	display : inline;
}

form.confirm {
	display : block;
	text-align : center;
}

h1 {
	font-size : 161.6%;
	font-weight : bold;
}

h2 {
	font-size : 146.5%;
	font-weight : bold;
}

h3 {
	font-size : 131%;
	font-weight : bold;
}

h4 {
	font-size : 116%;	
	font-weight : bold;
}

h5 {
	font-size : 100%;	
	font-weight : bold;
}

h6 {
	font-size : 93%;
	font-weight : bold;
}

h1,h2,h3,h4,h5,h6 {
	margin : .3em 0;
}

p {
	margin: .5em 0 .5em 0;
}

strong {
	font-weight : bold;
}

strong em {
	font-weight : bold;
	font-style : italic;
}

em, cite {
	font-style : italic;
}

em strong {
	font-weight : bold;
	font-style : italic;
}

input, textarea {
    padding : 2px 4px;
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    vertical-align: middle;
    margin: 0;
}

label, .label {
    display: inline;
    font-weight: normal;
    font-size: inherit;
    max-width: inherit;
    padding: 0;
    color: black;
    margin-bottom: 0;
    vertical-align: middle;
}

label input[type="checkbox"],
label input[type="radio"],
.label input[type="checkbox"],
.label input[type="radio"] {
    margin-top: 0;
}


.subfield-label {
    font-style : italic;
}

.subfield-label span.subfield-code {
    font-weight : bold;
}

.members-update-table {
    padding-top: 10px;
}

#navmenulist li {
	padding : .2em 0;
    list-style-image : url("../img/arrow-bullet.gif");
	border-bottom : 1px solid #EEE;
}

#navmenulist li a {
	text-decoration : none;
}

#doc, #doc1, #doc2, #doc3 {
	padding-top : 1em;
}

#login_controls	 {
	position : absolute;
	right : .5em;
    padding: .4em .5em;
}

ul {
	padding-left : 1.1em;
}

ul li {
	list-style-type : disc;
}

ul li li {
	list-style-type : circle;
}

ol {
	padding-left : 1.5em;
}

ol li {
	list-style : decimal;
}

.gradient {
    background-image: linear-gradient(top, rgb(230,240,242) 1%, rgb(255,255,255) 99%);
    background-image: -o-linear-gradient(top, rgb(230,240,242) 1%, rgb(255,255,255) 99%);
    background-image: -moz-linear-gradient(top, rgb(230,240,242) 1%, rgb(255,255,255) 99%);
    background-image: -webkit-linear-gradient(top, rgb(230,240,242) 1%, rgb(255,255,255) 99%);
    background-image: -ms-linear-gradient(top, rgb(230,240,242) 1%, rgb(255,255,255) 99%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.1, rgb(230, 240, 242)),
        color-stop(0.99, rgb(255,255,255))
    );
    display: inline-block;
    width:100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

table {
	border-collapse : collapse;
	border-top : 1px solid #BCBCBC;
	border-right : 1px solid #BCBCBC;
}

table.invis,
table.invis tr,
table.invis td,
tr.highlight table.invis td {
	border : none;
}

td, th {
	border-bottom : 1px solid #BCBCBC;
	border-left : 1px solid #BCBCBC;
	padding : .2em .3em;
}

td {
	background-color : White;
	vertical-align : top;
}

table.indexes td {
    vertical-align : middle;
}

td.actions {
    white-space: nowrap;
}

td.borderless {
    border-collapse : separate;
    border : 0 none;
}

td.data,
th.data {
	font-family : "Courier New", Courier, monospace;
	text-align : right;
}

th {
	background-color : #E8E8E8;
	font-weight : bold;
	text-align : center;
}

table+table {
	margin-top : 1em;
}

#editions table, #editions td {
	border : 0;
}

.highlighted-row,
.highlighted-row td { background-color: #FFD000 !important }

tbody tr:nth-child(odd) td {
	background-color : #F3F3F3;
    border : 1px solid #BCBCBC;
    border-right : 1px solid #BCBCBC;
}

.overdue td.od {
	color : #cc0000;
	font-weight : bold;
}

tr.warn td,
tr.warn:nth-child(odd) td {
	background-color: #FF9090;
}

tr.ok td,
tr.ok:nth-child(odd) td,
tr.ok:nth-child(even) td {
 background-color: #FFFFCC;
}

tr.onissue td {
	background-color: #FFFFCC;
}

tr.odd.onissue td {
	background-color: #FFFFE1;
}

tr.clickable {
        cursor: pointer;
}

.table_borrowers tr:hover td {
        background-color: #ffff99;
}

tfoot td {
	background-color : #f3f3f3;
	font-weight : bold;
}

td.total {
	text-align : right;
}

caption {
    font-size : 133.9%;
    font-weight : bold;
    margin : .3em 0;
    color: black;
}

.problem {
	background-color : #FFFFCC;
	color : #990000;
	font-weight : bold;
	line-height : 1.7em;
}

fieldset {
	margin : 1em 1em 1em 0;
	padding : 1em;
    background-color:#f4f8f9;
    border:2px solid #b9d8d9;
    border-radius:5px;
}

fieldset.lastchecked {
    margin-bottom : 0;
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

legend {
    font-size : 123.1%;
    font-weight : bold;
    border:2px solid #b9d8d9;
    background-color:#ffffff;
    border-radius:3px;
    padding: 0.2em 0.5em;
    width: auto;
}

#floating-save {
    background-color: rgba(185, 216, 217, 0.6);
    bottom: 3%;
    position: fixed;
    right: 1%;
    width: 150px;
}

#breadcrumbs {
    background-color : #e6f0f2;
    clear : both;
    font-size : 90%;
    padding :.2em .5em .4em 10px;
    margin : 0;
}

#header+#breadcrumbs {
	margin-top : 1em;
}

#header>.container-fluid {
    padding: 0;
}

div.justify {
    text-align: justify;
}

div#header_search {
	background-position : .5em .5em;
	background-repeat : no-repeat;
	float: left;
	margin: .3em 0 .5em 0;
}

div#header_search input {
	font-size : 1.3em;
}

div#header_search div.residentsearch {
	border : 0;
    border-bottom : 1px solid #85ca11;
	padding : 0 0 .2em 0;
}

.head-searchbox {
    width: 30em;
}

div#reserves,div#checkouts {
        border : 1px solid #B9D8D9;
	padding : 1em;
}

.tip {
	font-size: 93%;
	color : Gray;
}

.single-line {
	white-space: nowrap;
}

.ex {
	font-family : "Courier New", Courier, fixed-width;
	font-weight : bold;
}


div.yui-b h5 {
	font-size : 100%;
	margin : .5em 0;
}

dt {
	font-weight : bold;
}

dd {
	padding : .2em;
	font-size : 90%;
	text-indent : 2.5em;
	font-weight : normal;
}

div#toolbar,
.btn-toolbar {
    background-color : #EDF4F6;
    padding: 5px 5px 5px 5px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #E6F0F2;
}

ul.toolbar {
	padding-left : 0;
}

ul.toolbar button {
	padding-bottom : 2px;
	font-family: arial, verdana, helvetica, sans-serif;
}

#disabled a {
	color: #999;
}
#disabled2 a {
 color: #999;
}
#disabled a:hover {
	color : #999;
}
a.highlight_toggle {
    display : none;
}

ul.toolbar li {
	display : inline;
	list-style : none;
}

div.patroninfo {
	margin-top : -.5em;
}

*html div.patroninfo {
	margin-right : .5em;
}

div.patroninfo h5 {
    border-right:1px solid #b9d8d9;
	margin-bottom : 0;
	padding-left : -.5em;
	padding-top : .3em;
	padding-bottom : .5em;
}

div.patroninfo h5:empty {
    border-right: none;
}

div.patroninfo ul {
	border : 0;
    border-right:1px solid #b9d8d9;
	border-bottom : 0;
	border-top : 0;
	padding : 0;
	margin : 0;
}

div.patroninfo ul li {
	margin : 0;
}

div.patroninfo ul li {
	list-style-type : none;
}

#patronbasics div {
    background: transparent url("../img/patron-blank.min.svg") 10px 5px no-repeat;
    border: 1px solid #CCCCCC;
    height: 125px;
    margin: .3em 0 .3em .3em;
    padding: 0;
    width: 105px;
}

#patronimage {
    border: 1px solid #CCCCCC;
    max-width : 140px;
    margin: .3em 0 .3em .3em;
    padding: .2em;
    width:auto !important;
    width:130px;
}

div.patronviews {
	border-right :  1px solid #000;
	border-top : 1px solid #000;
	margin-bottom : .5em;
	padding : .5em 0 .5em 0;
}
}

.column-tool {
	font-size: 80%;
}

fieldset.brief {
    border : 2px solid #B9D8D9;
}

fieldset.brief label,
fieldset.brief span.label {
	display : block;
	font-weight : bold;
	padding : .3em 0;
}

fieldset.brief ol, fieldset.brief li {
	list-style-type : none;
}

.hint {
    color : #666;
	font-size : 95%;
}

fieldset.brief div.hint,
fieldset.rows div.hint,
div.yui-u div.hint {
    margin-bottom : .4em;
}

fieldset.rows div.hint {
    margin-left : 7.5em;
}

div.yui-b fieldset.brief {
	padding : .4em .7em;
}

div.yui-b fieldset.brief ol {
	font-size : 85%;
	margin : 0;
	padding : 0;
}

div.yui-b fieldset.brief select {
	width: 12em;
}
div.yui-b fieldset.brief li.radio {
	padding : .7em 0;
}
div.yui-b fieldset.brief li.radio label,
div.yui-b fieldset.brief li.checkbox label,
div.yui-b fieldset.brief li.dateinsert label,
div.yui-b fieldset.brief li.dateinsert span.label,
div.yui-b fieldset.brief li.radio span.label {
	display : inline;
}

div.yui-b fieldset.brief li.radio input {
	padding:0.3em 0;
}

div.yui-b fieldset.brief fieldset {
	margin : 0 .3em;
	padding : .5em;
}

div.yui-b fieldset.brief fieldset legend {
	font-size : 85%;
}

#tools_holidays fieldset.brief li.radio input,
#tools_holidays fieldset.brief li.checkbox input{
    margin-left: 0;
}

#tools_holidays fieldset.brief li.radio label,
#tools_holidays fieldset.brief li.checkbox label {
    margin-left: 20px;
}

fieldset.rows {  
border-width : 1px;
border:2px solid #b9d8d9;
float : left;
font-size : 90%;
clear : left;
margin: .9em 0 0 0;
padding: 0;
width: 100%; 
}

fieldset.rows.unselected {
    background-color: white;
    border-width : 0px;
    border: 0;
}

fieldset.rows legend {  
	margin-left: 1em;
	font-weight: bold;
	font-size : 110%;
}

fieldset.rows label, fieldset.rows span.label {  
	float: left;  
	font-weight : bold;
	width: 6em;  
	margin-right: 1em;  
	text-align: right;
}

fieldset.rows fieldset {
    background-color: transparent;
	border-width : 1px;
    margin : 1em;
	padding : .3em;
}

.yui-b fieldset.rows label, .yui-b fieldset.rows span.label {  
	width: 9em;  
}

.yui-b fieldset.rows td label, .yui-b fieldset.rows td span.label {
        width: auto;
}

.yui-b fieldset.rows div.hint {
	margin-left : 10.5em;
}

.yui-u fieldset.rows label, .yui-u fieldset.rows span.label {  
	width: 10em;  
}

.yui-u fieldset.rows div.hint {
	margin-left : 7.5em;
}

fieldset.rows.left label, fieldset.rows.left span.label {
	width : 8em;
	text-align : left;	
}

fieldset.rows ol {  
padding: 1em 1em 0 1em;  
list-style-type: none;
}

fieldset.rows li {  
float : left;
clear : left;
padding-bottom: 1em;
list-style-type: none;
width: 100%; 
}

fieldset.rows.left li {
	padding-bottom : .4em;
}

fieldset.rows li.radio {
	padding-left: 9em;
	width : auto;
}

fieldset.rows li.radio label {
	float : none;
	width : auto;
	margin : 0 0 0 1em;
}

fieldset.rows ol.radio label {
	width : auto;
	float : none;
	margin-right : 30px;
        margin-left: 20px;
        padding-left: 0;
        vertical-align: middle;
}

fieldset.rows li.radio input + label {
    margin-left: 0;
    padding-left: 0;
}

fieldset.rows ol.radio input[type="checkbox"],
fieldset.rows ol.radio input[type="radio"] {
    margin-left: -20px;
}

fieldset.rows ol.radio label.radio {
	float : left;
	width : 9em;
	margin-right : 1em;
        margin-top: 0;
}

fieldset.rows caption {
    font-size : 120%;
}

fieldset.rows p {
    margin : 1em 0 1em 1em;
}

fieldset.rows table {
	font-size : 105%;
	clear : both;
	margin : 1em 0 1em 1em;
}

fieldset.rows td label {
	float : none;
	font-weight : normal;
	width : auto;
}

fieldset.rows label.yesno {
	float : none;
	width : auto;
}

fieldset.rows label.error {
	float: none;
	margin-left: 1em;
	width: auto;
}

fieldset.action, div.action {
    background-color: transparent;
    clear : both;
    float : none;
    border : 0px;
    margin: 0.9em 0 0 0;
    padding: 0.4em;
    width: auto;
}

.btn-toolbar fieldset.action {
    margin-top: 0;
}

fieldset.rows li[aria-disabled="true"] {
    color: #999;
}

div.rows+div.rows {
    margin-top : .6em;
}

div.rows {
float : left;
clear : left;
margin: 0 0 0 0;  
padding: 0;
width: 100%; 
}


div.rows span.label {  
	float: left;  
	font-weight : bold;
	width: 9em;
	margin-right: 1em;  
	text-align: left;
        padding-top: 0;
}

.rows .label {
    white-space: normal;
}

div.rows ol {  
padding: .5em 1em 0 0;  
list-style-type: none;
}

div.rows ol li li {
	border-bottom: 0;
}

div.rows li {
border-bottom :  1px solid #EEE;
float : left;
clear : left;
padding-bottom: .2em;
padding-top: .1em;
list-style-type: none;
width: 100%; 
}

a.cancel {
	padding-left : 1em;
}

fieldset.rows fieldset.action {
	padding : 1em;
}

fieldset.brief label.inline,
fieldset.rows label.inline {
	display : inline;
	float : none;
	margin-left : 1em;
	width : auto;
}

fieldset.rows .inputnote {
	clear : left;
	float : left;
	margin : 1em 0 0 11em;
}

.checkedout {
	color : #999999;
	font-style : italic;
}

.subfield_not_filled {
	background-color : #FFFF99;
}
.content_hidden {
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}

#z3950searcht table {
	/* doesn't have desired effect in catalogue/results.tmpl - I'll leave this here for now but there do seem to be casscading CSS errors in this and other CSS fiels - RICKW 20081118 */
	padding: 20px;
	border: none;
}

#z3950_search_targets {
    height:     338px;
    overflow-y: auto;
}

#z3950_search_targets_acq {
    height:     308px;
    overflow-y: auto;
}

#z3950_search_targets_auth {
    height:     348px;
    overflow-y: auto;
}

.z3950checks {
    padding-left: 1em;
}

.error {
       color: #cc0000;
}

.status_ok {
 background-color: lightgreen;
}

.status_warn {
 background-color: red;
}

/* Font Awesome icon */
i.success {
    color: green;
}

/* Font Awesome icon */
i.error {
    color: #CC0000;
}

/* Font Awesome icon */
i.warn {
    color: orange;
}

/* For Font Awesome icon bullets */
ul.fa-ul li {
    list-style-type: none;
}

div.error {
	border : 2px dashed #990000;
	background-color : #FFFF99;
	padding : .5em;
	margin : 1em;
}

input.alert {
	background-color : #FFFF99;
	border-color: #900;
}

ol.bibliodetails {
	float: left;
	margin : 0 0 1em 1em;
}

ol.bibliodetails li {
	border-bottom: 1px solid #E8E8E8;
	list-style-type : none;
	padding : .1em;
}

ol.bibliodetails span.label {
	border-right : 1px solid #E8E8E8;
	float : left;
	font-weight: bold;
	width: 12em;  
	margin-right: 1em;  
}

div.listgroup {
	clear :  left;
}

div.listgroup h4 {
	font-style: italic;
}

div.listgroup h4 a {
	font-size :  80%;
}

div.listgroup input {
	font-size: 80%;
}

div.sysprefs h3 {
	margin : .2em 0 .2em .4em;
}

div.sysprefs dl {
	margin-left : 1.5em;
}

div.sysprefs div.hint {
	width : 25%;
	float : right;
	padding : .5em;
	margin : .7em;
}

tr.highlight td {
	background-color : #F6F6F6;
	border-color : #BCBCBC;
}

tr.highlight th[scope=row] {
	background-color : #DDDDDD;
	border-color : #BCBCBC;
}

label.circ_barcode {
    font-size: 105%;
    font-weight : bold;
}

.checkout-setting {
    font-size : 85%;
    padding-top : .3em;
}

.checkout-setting label {
    font-size : inherit;
    font-weight: normal;
}

.checkout-setting input {
    vertical-align: middle;
}

.checkout-settings {
    background-color: #f4f8f9;
    border-radius: 0;
    border-top: 2px solid #b9d8d9;
    display: none;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 1em;
    padding: 1em 1em 0;
}

#show-checkout-settings {
    margin-top: .5em;
}

tr.expired td {
	color : #999999;
}

span.expired {
	color : #990000;
	font-style : italic;
}

div.help {
	margin: .9em 0 0 0;  
}

.blocker {
	color : #990000;
}

.inaccurate-item-statuses {
    color : #990000;
}

.circmessage li {
    list-style : url(../img/arrow-bullet.gif);
	margin-bottom : .2em;
}

div.circmessage:first-child {
	margin-top : 1em;
}

div.circmessage {
	padding: 0 .4em .4em .4em;
	margin-bottom : .3em;
}

span.circ-hlt {
	color : #cc0000;
	font-weight : bold;
}

div.first fieldset {
	margin-right : 0;
}

#circ_needsconfirmation {
	margin : auto;
}

.dialog {
	border-radius : 2px;
	padding : .5em;
	margin : 1em auto;
	text-align : center;
	width: 65%;
}

.dialog table {
	margin : .5em auto;
}

.dialog table th {
	text-align : right;
}

.dialog table td {
	text-align : left;
}
  
.dialog  h2, .dialog h3, .dialog h4 {
  	margin : auto;
	text-align : center;
  }
  
.dialog input {
 	background-color : #FFF;
 	border : 1px solid #bcbcbc;
	margin : .4em;
	padding : .4em .4em .4em 25px;
 }

 .dialog input[type="submit"] {
	background : #FFF none;
 }

td input.approve {
	background-color : #FFC;
}

.dialog input:hover {
 	background-color : #ffc;
 }

div.dialog {
	border: 1px solid #bcbcbc;
    text-align : center;
}

div.alert {
	background: #fef8d3; /* Old browsers */
	background: -moz-linear-gradient(top, #fef8d3 0%, #ffec91 9%, #ffed87 89%, #f9dc00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef8d3), color-stop(9%,#ffec91), color-stop(89%,#ffed87), color-stop(100%,#f9dc00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fef8d3 0%,#ffec91 9%,#ffed87 89%,#f9dc00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fef8d3 0%,#ffec91 9%,#ffed87 89%,#f9dc00 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fef8d3 0%,#ffec91 9%,#ffed87 89%,#f9dc00 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef8d3', endColorstr='#f9dc00',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fef8d3 0%,#ffec91 9%,#ffed87 89%,#f9dc00 100%); /* W3C */
	  text-align : center;
	border: 1px solid #E0C726;
    color : inherit;
    text-shadow : none;
}

div.alert strong {
	color : #900;
}

.dialog li {
    list-style-position:inside;
}

.dialog button {
    background: #fff none;
    border: 1px outset #999999;
    border-top-color: #666;
    border-left-color: #666;
    margin : .4em;
    padding : .4em;
    white-space: pre-line;
}

.dialog button:hover {
    background-color : #ffc;
}

.dialog button:active {
    border : 1px inset #999999;
}

.approve i.fa,
.success i.fa {
    color: green;
}

.deny i.fa {
    color: #cc0000;
}

.new i.fa {
    color: #425FAF;
}

a.document {
	background-position : left middle;
	background-repeat : no-repeat;
	padding-left : 20px;
}

a.pdf {
    background-image: url("../img/famfamfam/silk/page_white_acrobat.png");
}

a.csv {
    background-image: url("../img/famfamfam/silk/page_white_excel.png");
}

a.xml {
    background-image: url("../img/famfamfam/silk/page_white_code.png");
}

a.cartRemove {
    color: #cc3333;
    font-size : 90%;
    margin : 0;
    padding: 0;
}

a.incart {
    color: #666;
}

div.message {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f6fa 2%, #eaeef5 23%, #e8edf6 94%, #cddbf2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#f4f6fa), color-stop(23%,#eaeef5), color-stop(94%,#e8edf6), color-stop(100%,#cddbf2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f6fa 2%,#eaeef5 23%,#e8edf6 94%,#cddbf2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f4f6fa 2%,#eaeef5 23%,#e8edf6 94%,#cddbf2 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f4f6fa 2%,#eaeef5 23%,#e8edf6 94%,#cddbf2 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeef5', endColorstr='#cddbf2',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f4f6fa 2%,#eaeef5 23%,#e8edf6 94%,#cddbf2 100%); /* W3C */
  	border : 1px solid #bcbcbc;
  	text-align: center;
	width : 55%;
}

div.message ul,
div.message h5 {
	padding-left : 25%;
	text-align : left;
}

div.message ul+h4 {
	margin-top : .7em;
}

div.note {
    background: #f4f6fa;
    background: -moz-linear-gradient(top, #f4f6fa 0%, #e8edf6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f6fa), color-stop(100%,#e8edf6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6fa', endColorstr='#e8edf6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f4f6fa 0%,#e8edf6 100%); /* W3C */
    border : 1px solid #BCBCBC;
    padding : .5em;
    margin : .5em 0;
}

div.note i.fa-exclamation {
    color: #cc0000;
    font-style: italic;
    padding: 0 0.3em;
}

 div.results {
 	padding : .7em 0;
 }
 
 .accesskey {
 	text-decoration : underline;
 }
 
label.required,
span.required {
    color : #C00;
}

span.required {
	font-style : italic;
	margin-left : .5em;
}

.missing{
    background-color : #FFFFCC;
}

.term {
    background-color: #FFC;
	 color : #990000;
}

a .term {
	 text-decoration : underline;
}

/* style for shelving location in catalogsearch */
.shelvingloc {
    display : block;
    font-style : italic;
}

a:hover .term {
	color : #FF9090;
}

div#menu {
    border-right:1px solid #b9d8d9;
	margin-right: .5em;
	padding-top: 1em;
	padding-bottom: 2em;
}

*html #menu li {
	display : inline;
}

div#menu li a {
	text-decoration: none;
	display: block;

              background: #e8f0f6; /* Old browsers */
        background: -moz-linear-gradient(left, #e8f0f6 0%, #e8f0f6 96%, #c1c1c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8f0f6), color-stop(96%,#e8f0f6), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(left, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* Opera11.10+ */
   background: -ms-linear-gradient(left, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* IE10+ */
       background: linear-gradient(left, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* W3C */
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    border:1px solid #b9d8d9;
	font-size: 111%;
	margin: .5em 0;
	padding: .4em .3em;
	margin-right :  -1px;
}

div#menu li a:hover {
     background: #fff; /* Old browsers */
   background: -moz-linear-gradient(left, #FAFAFA 0%, #FAFAFA 96%, #e6e6e6 97%, #cccccc 99%, #c1c1c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FAFAFA), color-stop(96%,#FAFAFA), color-stop(97%,#e6e6e6), color-stop(99%,#cccccc), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #FAFAFA 0%,#FAFAFA 96%,#e6e6e6 97%,#cccccc 99%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(left, #FAFAFA 0%,#FAFAFA 96%,#e6e6e6 97%,#cccccc 99%,#c1c1c1 100%); /* Opera11.10+ */
   background: -ms-linear-gradient(left, #FAFAFA 0%,#FAFAFA 96%,#e6e6e6 97%,#cccccc 99%,#c1c1c1 100%); /* IE10+ */
       background: linear-gradient(left, #FAFAFA 0%,#fff 96%,#e6e6e6 97%,#cccccc 99%,#c1c1c1 100%); /* W3C */
    border-left: 1px solid #85CA11;
    border-top: 1px solid #85CA11;
    border-bottom: 1px solid #85CA11;
}

div#menu li.active a:hover {
	background-color: #fff;
    color :  #538200;
}

#menu ul li {
	list-style-type: none;
}

#menu ul li.active a {
	background-color: #FFF;
	background-image : none;
	font-weight: bold;
    color:#000000;
    border-left: 1px solid #85CA11;
    border-top: 1px solid #85CA11;
    border-bottom: 1px solid #85CA11;
    border-right: 0;
}

h1#logo {
	border:0pt none;
	float:left !important;
	margin:0;
	padding:0;
	width:180px;
}
h1#logo {
    background: transparent url(../img/koha-logo-medium.gif) no-repeat scroll 0%;
	margin:0.75em .3em 0.75em .7em;
}

*html h1#logo {
	margin : 0.75em .3em 0.75em .3em;
}

h1#logo a {
	border:0;
	cursor:pointer;
	display:block;
	height:0px !important;
	margin:0;
	overflow:hidden;
	padding:44px 0 0;
	text-decoration:none;
	width:180px;
}

#closewindow {
	margin-top : 2em;
	text-align : center;
}

#closewindow a {
	font-weight : bold;	
}

.patroninfo+#menu {
	margin-right : 0;
}

.barcode {
	font-size :  200%;
        vertical-align: middle;
}

li.email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.patronbriefinfo li.email {
    font-size :  87%;
    padding : 0 10px 0 0;
    width: 90%;
}

.empty {
	color : #CCC;
}

.address {
	font-size: 110%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.title {
	font-weight : bold;
	font-size : 105%;
}

.hold {
	float : right;
	font-size: 90%;
	margin: 0;
}

.thumbnail {
	display : block;
	margin : auto;
}

.thumbnails > li {
    list-style-type: none;
}

#searchresults ul li {
	font-size : 90%;
    list-style: url(../img/item-bullet.gif);
	padding : .2em 0;
        clear : left;
}

#searchresults span.status {
	clear : left;
	color : #900;
	display : block;
}

#searchresults span.unavailable {
	clear : left;
	display : block;
}

#searchresults .availability strong {
	display : block;
}

#searchresults ul li img {
	float : left;
	margin : 3px 5px 3px -5px;
}

#searchresults table td {
	vertical-align : top;
}

#searchheader {
     background-color : #E6F0F2;
	font-size : 80%;
	margin : 0 0 .5em -1px;
    padding : .4em 0 .4em 1em;
     border-radius : 5px 5px 0 0;
   border : 1px solid #B9D8D9;
}

#searchheader .btn-group > .btn:first-child {
    margin-left : .7em;
}

#searchheader form {
	float : right;
  padding : 5px 5px 3px 0;
}

#searchheader form.fz3950 {
	float : right;
	font-size : 125%;
	padding : 0 0 0 5em;
}

#searchheader form.fz3950bigrpad {
	float : right;
	font-size : 125%;
	padding : 5px 25em 0 0;
}

#search-facets ul {
	margin : 0;
	padding : .3em;
}

#search-facets {
    border : 1px solid #B9D8D9;
    border-radius: 5px 5px 0 0;
}

#search-facets h4 {
     background-color : #E6F0F2;
    border-bottom : 1px solid #B9D8D9;
     border-radius: 5px 5px 0 0;
	font-size : 90%;
	margin : 0;
	padding : .4em .2em;
	text-align : center;
}

#search-facets ul li {
	font-weight : bold;
	list-style-type : none;
}

#search-facets li li {
	font-weight : normal;
	font-size : 85%;
	margin-bottom : 2px;
	padding : .1em .2em;
}

#search-facets li.showmore {
	font-weight : bold;
	text-indent : 1em;
}

.facet-count {
    display: inline-block;
}

div.pages {
	margin : .5em 0;
}

div.pages a {
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

div.pages a:link,
div.pages a:visited {
	background-color : #eeeeee;
	color : #3366CC;
}

div.pages a:hover {
	background-color : #FFC;
}

div.pages a:active {
	background-color : #ffc;
}

div.pages .current,
div.pages .currentPage {
	background-color : #e6fcb7;
	color : #666;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

div.pages .inactive {
	background-color : #f3f3f3;
	color : #BCBCBC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

div.browse {
	margin : .5em 0;
}

div#bookcoverimg {
	text-align : center;
}

div#header_search input.submit {
	font-size : 1em;
}

*html input.submit {
	padding : .1em;
}

input[type=submit]:active, input[type=button]:active, button:active, a.submit:active {
	border : 1px inset #999999;
}

input[type=submit], input[type=reset], input[type=button], input.submit, button, a.submit {
	border: 1px outset #999999;
	border-top-color: #666;
	border-left-color: #666;
	padding: 0.25em;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 35%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(35%,#f7f7f7), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 35%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 35%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 35%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f7f7f7 35%,#e0e0e0 100%); /* W3C */
	color: #333333;
}

input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled,
input.submit:disabled,
button:disabled,
a.submit:disabled {
    color : #999;
    border : 1px solid #C0C0C0;
    background : #EEE none;
}

input[type=reset]:active, input[type=button]:active, input.submit:active, button:active, a.submit:active {
	border : 1px inset #999999;
}

a.submit {
    display: inline-block;
}

ul li input.submit {
	font-size : 87%;
	padding : 2px;
}

input.warning {
    background: #FFF url(../img/famfamfam/silk/error.png) no-repeat 4px center;
	padding : 0.25em 0.25em 0.25em 25px;
}

.searchhighlightblob {
    font-size:75%;
	font-style : italic;
}

#displayexample {
	padding: 5px; 
	margin-bottom: 10px;
	background-color: #CCCCCC;
}

#irregularity_summary {
	vertical-align : top;
}

ul#toplevelmenu {
    padding : 0;
}

table > caption span.actions {
    font-size: 66%;
    font-weight : normal;
    margin : 0 .5em 0 0;
}

#CheckAll, #CheckNone, #CheckPending {
	font-weight : normal;
	margin : 0 .5em 0 0;
}
.lost,.dmg,.wdn {
	display : block;
	color : #990000;
}
.datedue {
	display : block;
	color : #999;
	font-style : italic;
}

tr.reserved td {
	background-color : #eeffd4;
}
tr.transfered td {
	background-color : #e8f0f6;
}
.waitinghere,
.credit {
	color : #669900;
}

/* Permissions Labels */
label.permissioncode:before {
	content: "(";
}
label.permissioncode:after {
	content: ")";
}
label.permissioncode {
	font-style : italic;
}
span.permissiondesc {
	font-weight : normal;
}
#mainuserblock {
	border : 1px solid #E8E8E8;
	margin-top : .5em;
	padding : .5em;
}

.labeledmarc-table {
	border: 0;
}

.labeledmarc-label {
	border: 0;
	padding: 5;
	font-size: 11pt;
    color: #000000;
    font-style: italic;
}

.labeledmarc-value {
	border: 0;
	padding: 5;
	font-size: 10pt;
	color: black;
}

#marcPreview table { border: 0; margin: .7em 0 0 0; font-family: monospace; font-size: 95%; }
#marcPreview th { background-color : #FFF; border: 0; white-space: nowrap; text-align:left; vertical-align: top; padding: 2px; }
#marcPreview td { border: 0; padding : 2px; vertical-align: top; }
#marcPreview tbody tr:nth-child(2n+1) td { background-color: #FFF; }
#marcPreview .modal-dialog { width: 80%; }
@media (max-width: 767px) { #marcPreview { margin: 0; width : auto; } }

#cartDetails {
	background-color : #FFF;
	border: 1px solid #739acf;
	 box-shadow: 1px 1px 3px 0 #666;
	color : black;
	display : none;
	margin : 0;
	padding : 10px;
	text-align : center;
	width : 180px;
	z-index : 50;
}
#cartmenulink {
    background: transparent url("../img/cart-small.gif") left center no-repeat;
        padding-left : 15px;
}
#cartmenulink span#basketcount span {
	display : inline;
	font-size : 90%;
	font-weight : normal;
	padding : 0;
}
#moremenu {
        display : none;
}

.results_summary {
  display: block;
  font-size : 85%; 
  color: #707070;
  padding : 0 0 .5em 0;
}
.results_summary .label {
  color: #202020;
}
.results_summary a {
  font-weight: normal;
}

ul.budget_hierarchy {
    margin-left: 0px;
    padding-left: 0px;
}
ul.budget_hierarchy li {
    display: inline;
}
ul.budget_hierarchy li:after {
    content: " -> ";
}
ul.budget_hierarchy li:last-child:after {
    content: "";
}
ul.budget_hierarchy li:first-child:after {
    content: "";
}
.child_fund_amount {
    font-style: italic;
}
.number_box { font-size : 105%; line-height : 200%; }
.number_box a {
	border : 1px solid #a4bedd;
	background-color : #e4ecf5;
	font-weight : bold;
	border-radius: 4px;
	padding : .1em .4em;
	text-decoration : none;
}
.number_box a:hover { background-color : #ebeff7; }
.container {
	border : 1px solid #EEE;
	padding : 1em;
	margin : 1em 0;
}
fieldset.rows+h3 {clear:both;padding-top:.5em;}

.import_export{
    position:relative;
}
.import_export .import_export_options{
    background: white;
    border: 1px solid #CDCDCD;
    left: 60px;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 300px;
}
.import_export_options fieldset.rows li label {
    width : 16em;
}
.form_import fieldset.rows li label {
    width : auto;
}

.import_export_options .export_ok {
    padding: 10;
    background: #E3E3E3 none;
    cursor: pointer;
    margin-left: 20px;
    border: none;
}
.import_export_options {
    padding: 10;
    background: #E3E3E3 none;
    cursor: pointer;
    margin-left: 20px;
    border: none;
}
.form_import .input_import {
    border: 1px solid #bcbcbc;
}
.import_export_options .importing {
    padding: inherit;
    background: none;
}

.importing {
    position: relative;
}

.importing .importing_msg {
    padding-left: 10px;
    padding-bottom: 10px;
}

.field_hint {
    color: grey;
    font-style: italic;
    padding-left: 1em;
}

.m880 {
    display:block; 
    text-align:right; 
    float:right; 
    width:50%; 
    padding-left:20px
}

.advsearch {
    margin: 0;
}

.advsearch table {
    border-spacing : 5px;
    border-collapse : separate;
    border-width : 0;
}
.advsearch td {
    border : 1px solid #EEE;
    padding : 0.3em 0.4em;
}
#circ_circulation_issue {
    position: relative;
    }

#clearscreen {
    position: absolute;
    top:0;
    right:0;
    }

#clearscreen a {
    display:block;
    border-radius: 0 0 0 5px;
    padding : 0 .7em .2em .7em;
    background-color : #EEE;
    color : #CCC;
    text-shadow: 0px -1px 0px #666;
    text-decoration: none;
    font-size: 160%;
    font-weight : bold
    }
#clearscreen a:hover {
    color : #cc0000;
    }

div.pager {
	background-color : #E8E8E8;
	border : 1px solid #BCBCBC;
    border-radius : 5px;
	display : inline-block;
	font-size : 85%;
	padding : .3em .5em .3em .5em;
	margin : .4em 0;
}
div.pager img {
	vertical-align : middle;
}

div.pager img.last {
	padding-right: 5px;
}
div.pager input.pagedisplay {
	border : 0;
	background-color : transparent;
	font-weight: bold;
	text-align : center;
}
a.localimage img {
	border : 1px solid #0000CC;
	margin : 0 .5em;
	padding : .3em;
}

.no-image {
    background-color : #FFF;
    border: 1px solid #AAA;
    color : #979797;
    display:block;
    font-size : 86%;
    font-weight : bold;
    text-align : center;
    width : 75px;
    border-radius : 3px;
}

div.pager p {
	margin: 0;
}

div#acqui_order_supplierlist > div.supplier {
    border: 1px solid #EEEEEE;
    margin: 0.5em;
    padding: 1em;
}

div#acqui_order_supplierlist > div.supplier > span.suppliername {
    display: inline;
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

div#acqui_order_supplierlist > div.supplier > span.action {
    margin-left: 5em;
}

div#acqui_order_supplierlist > div.supplier > div.baskets {
    margin-top: 0.5em;
}

.supplier-contact-details {
    float: left;
}

#add-contact {
    margin: 0 0 8px 8px;
}

#contact-template {
    display: none;
}

/* Override core jQueryUI widgets */
.ui-widget-content { border: 1px solid #B9D8D9; background: #ffffff none; color: #222222; }
.ui-widget-header { border: 1px solid #B9D8D9; background: #E6F0F2 none; color: #222222; font-weight: bold; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #B9D8D9; background: #F4F8F9 none; font-weight: normal; color: #555555; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #B9D8D9; background: #E6F0F2 none; font-weight: normal; color: #212121; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff none; font-weight: normal; color: #212121; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #FED22F; background: #FFF4C6; color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec; color: #cd0a0a; }

/* Override jQuery Autocomplete */
.ui-autocomplete {
    position: absolute;
    cursor: default;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.ui-autocomplete.ui-widget-content .ui-state-hover {
    border: 1px solid #B9D8D9;
    background: #E6F0F2 none;
    font-weight: normal;
    color: #212121;
}
.ui-autocomplete-loading {
    background: #FFF url("../img/spinner-small.gif") right center no-repeat;
}

/* jQuery UI standard tabs */
.ui-menu li {
    list-style:none;
}

.ui-tabs-nav .ui-tabs-active a,
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active,
.ui-tabs-nav span.a {
    background: none repeat scroll 0 0 transparent;
    outline: 0 none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color : #FFF;
    border : 1px solid #B9D8D9;
    border-bottom-width: 0;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family : inherit;
    font-size : inherit;
}
ul.ui-tabs-nav li {
    list-style : none;
}
.ui-tabs.ui-widget-content {
    background : transparent none;
    border : 0;
}

.ui-tabs .ui-tabs-panel {
    border : 1px solid #B9D8D9;
}
.ui-tabs-nav.ui-widget-header {
    border : 0;
    background : none;
}
.ui-tabs .ui-tabs-nav li {
    background: #E6F0F2 none;
    border: 1px solid #B9D8D9;
    margin-right : .4em;
    top: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color : #000;
    font-weight : bold;
}

.ui-tabs .ui-tabs-nav li.ui-state-default.ui-state-hover {
    background : #EDF4F5 none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover {
    background : #FFF none;
}

.ui-tabs .ui-state-default a,
.ui-tabs .ui-state-default a:link,
.ui-tabs .ui-state-default a:visited {
    color: #004D99;
}

.ui-tabs .ui-state-hover a,
.ui-tabs .ui-state-hover a:link,
.ui-tabs .ui-state-hover a:visited {
    color: #538200;
}

.statictabs ul {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    padding: 0.2em 0.2em 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #222222;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    outline: 0 none;
    text-decoration: none;
}

.statictabs ul:after {
    clear: both;
}

.statictabs ul:before,
.statictabs ul:after {
    content: "";
    display: table;
}

.statictabs ul li {
    background: none repeat scroll 0 0 #E6F0F2;
    border: 1px solid #B9D8D9;
    border-bottom: 0 none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    float: left;
    list-style: none outside none;
    margin-bottom: 0;
    margin-right: 0.4em;
    padding: 0;
    position: relative;
    white-space: nowrap;
    top: 1px;
    color: #555555;
    font-weight: normal;

}

.statictabs ul li.active {
    background-color: #FFFFFF;
    color: #212121;
    font-weight: normal;
    padding-bottom: 1px;
}

.statictabs ul li a {
    color: #004D99;
    cursor: pointer;
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}

.statictabs ul li a:hover {
    background-color : #EDF4F5;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color : #538200;
}

.statictabs ul li.active a {
    color: #000000;
    font-weight: bold;
    cursor: text;
    background: none repeat scroll 0 0 transparent;
    outline: 0 none;
    top : 1px;
}

.statictabs .tabs-container {
    border: 1px solid #B9D8D9;
    background: none repeat scroll 0 0 transparent;
    display: block;
    padding: 1em 1.4em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #222222;
}

/* jQuery UI header search box tabs */
#header_search ul.ui-tabs-nav {
    padding-top : 0;
    margin-left: 1em;
}
#header_search ul.ui-tabs-nav li.ui-state-default {
    border: 0;
    background : transparent none;
    top: 0;
}
#header_search ul.ui-tabs-nav li.ui-state-default a {
    padding : .3em .6em;
}
#header_search ul.ui-tabs-nav li.ui-tabs-active {
    border : 1px solid #85CA11;
    border-top-width: 0;
    top: -2px;
    background-color : #FFFFF1;
}
#header_search ul.ui-tabs-nav li.ui-tabs-active a {
    text-decoration: none;
}
#header_search .ui-corner-top {
     border-radius: 0 0 4px 4px;
}

#header_search > div,
#header_search > ul > li {
    display: none;
}
#header_search > div:first-of-type,
#header_search > ul > li:first-of-type {
    display: block;
}

.authref {
    font-style: normal;
    text-indent: 4em;
}

.seefrom, .seealso {
    font-style: italic;
    text-indent: 2em;
}

#authfinderops {
    float: right;
}
div.authorizedheading {
  font-weight: bold;
}
.authres_notes, .authres_seealso, .authres_otherscript {
  padding-top: 3px;
}
.authres_notes {
  font-style: italic;
}


.contents {
    width: 75%;
}

.contentblock {
    position: relative;
    margin-left: 2em;
}

.contents .t:first-child:before {
    content: "→ ";
}

.contents .t:before {
    content: "\A→ ";
    white-space: pre;
}

.contents .t {
    font-weight: bold;
    display: inline;
}

.contents .r {
    display: inline;
}

#hierarchies a {
    font-weight: normal;
    text-decoration: underline;
    color: #069;
}

#hierarchies a:hover {
    color: #990033;
}

#didyoumeanopac, #didyoumeanintranet {
    float: left;
    width: 260px;
}

.pluginlist {
    padding-bottom: 10px;
}
.plugin {
    margin: 0 1em 1em 0;
}
.pluginname {
    cursor: move;
    margin: 0.3em;
    padding-bottom: 4px;
    padding-left: 0.2em;
    background-color: #E6F0F2;
}
.pluginname .ui-icon {
    float: right;
}
.plugindesc {
    padding: 0.4em;
}
.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 80px !important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}

/* jQuery UI Datepicker */
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border : 0;
    border-collapse: collapse;
    margin:0 0 .4em;
}

.ui-datepicker th {
    background : transparent none;
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker-trigger {
    vertical-align: middle;
    margin : 0 3px;
}
.ui-datepicker {
    box-shadow: 1px 1px 3px 0 #666;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui_tpicker_second,
.ui_tpicker_millisec,
.ui_tpicker_microsec {
    display: none;
}

/* jQuery UI Accordion */
.ui-accordion-header,
.ui-widget-content .ui-accordion-header {
    font-weight: bold; font-size : 110%;
}

fieldset.rows.ui-accordion-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;
}

fieldset.rows.ui-accordion-content table {
    margin : 0;
}

video {
    width: 480px;
}

/* Bootstrap overrides */
button,
.btn {
    border-color : #ADADAD #ADADAD #949494;
    font-family: arial,helvetica,clean,sans-serif;
}

.btn-xs, .btn-group-xs > .btn {
    font-size: 10.5px;
    padding: 3px 5px;
}

.btn.btn-link {
    border : 0;
}

#toolbar .dropdown-menu,
.btn-toolbar .dropdown-menu {
    font-size: 13px;
}
a.btn:link,
a.btn:visited{
    color: #333333;
}

a.btn-link:link,
a.btn-link:visited {
    color: #004d99;
}

a.btn-link:hover {
    color : #538200;
}

.dropdown-menu {
    font-size: 12px;
}

.dropdown-menu li {
    list-style: none outside none;
}

a.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-menu > li > a {
    padding: 4px 20px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

a.disabled {
    color : #999999;
}

.navbar {
    color: #333;
    min-height: 20px;
}

#header.navbar {
    margin-bottom: 0;
}

#header.navbar-default {
    background: #e6f0f2;
    box-shadow: none;
    border: none;
}

#changelanguage .navbar-text {
    margin: 0;
}

#changelanguage .navbar-text span {
   display: block;
   line-height: 20px;
}

#changelanguage .dropdown-menu > li > a,
#changelanguage .dropdown-menu > li > span {
    padding: 5px 15px;
}

.navbar .nav > li > a, .loggedout {
    color: #004D99;
    font-weight: bold;
    padding : .4em .2em;
}

.navbar .nav > li {
    list-style: none outside none;
    padding : 0 .6em;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #538200;
}

.navbar-static-top .navbar-inner {
    background: #E6F0F2 none;
    border: 0;
    box-shadow: none;
    min-height: 0;
    padding-left: 0;
}
.navbar-fixed-bottom .navbar-inner {
    min-height: 0;
    padding : .4em 0;
}

.navbar-fixed-bottom .nav > li > a {
    font-weight: normal;
    padding : .05em .3em;
}

.navbar-fixed-bottom .nav > li {
    border-right : 1px solid #CCC;
}

.navbar-fixed-bottom .nav > li:last-child {
    border-right : 0;
}

.navbar-fixed-bottom .nav > li.navbar-text {
    line-height: normal;
    padding : 0.4em 0.7em;
}
.navbar .nav > li {
    list-style: none outside none;
    padding : 0 .6em;
}
.navbar .nav > li > a {
    color: #004D99;
    font-weight: bold;
    padding : .4em .3em;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #538200;
}

.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
    background: #e6f0f2 none;
    box-shadow: none;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #EEE;
}
.tooltip.bottom .tooltip-inner {
    background-color : #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #000;
    padding : 1em;
    font-size : 120%;
}
.separator { color : #666; padding : 0 .2em; }

.close {
    position: inherit;
    top: auto;
    right : auto;
    filter : none;
    float : none;
    font-size: inherit;
    font-weight: normal;
    line-height: 1.5;
    opacity: inherit;
    text-shadow: none;
}

.close:hover {
    color: inherit;
    filter: inherit;
    font-size: inherit;
    opacity: inherit;
}

a.close:hover {
    color: #538200;
}

.radio label, .checkbox label {
    margin-left: 20px;
    padding-left: 0;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}

/* Redefine a new style for Bootstrap's class "close" since we use that already */
/* Use <a class="closebtn" href="#">&times;</a> */
.alert .closebtn{position:relative;top:-2px;right:-21px;line-height:20px;}
.modal-header .closebtn{margin-top: 4px;}
.closebtn{float: right;font-size: 21px;font-weight: bold;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;filter: alpha(opacity=20);opacity: .2;}.closebtn:hover,.closebtn:focus{color:#000;text-decoration:none;cursor:pointer;opacity:0.5;filter:alpha(opacity=50);}
button.closebtn{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}

.modal-body {
    overflow-y: auto;
}

.btn-group label,
.btn-group select {
    font-size: 13px;
}

.tooltip-inner {
    white-space:pre-wrap;
}

pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

code {
    background-color: transparent;
    border-radius: 0;
    font-size: inherit;
    color: inherit;
    padding: 0;
}

.pagination > li > a, .pagination > li > span {
    font-weight: bold;
}

/* End Bootstrap overrides */

.waiting {
    cursor: wait;
}

fieldset.rows table.mceListBox {
    margin: 0;
}

#jobpanel,#jobstatus,#jobfailed { display : none; }
#jobstatus { margin:.4em; }

#jobprogress{
    display: inline-block;
    width:200px;
    height:10px;
    border:1px solid #666;
    background:url('../img/progress.png') -300px 0px no-repeat;
 }

.progress_panel {
    clear: both;
    font-size: 120%;
    margin: 1em 0;
    padding: 1em;
    border: 2px solid #EEE;
    border-radius: 5px;
}

progress {
    width: 50%;
}

#selections { width : 100%; white-space : normal; }
#selections span { margin:3px;padding:3px;background-color:#EBF3FF;border-radius:5px;white-space:nowrap;line-height:240%;font-size:75%; }
#selections span.selected { background-color : #CCE0FC; }
#selections input { vertical-align:middle;margin:0 2px; }

#changepasswordf input[type="text"],
#changepasswordf input[type="password"] {
    font-size: 140%;
    font-family : monospace;
    padding : .3em;
}

/* Class to be added to toolbar when it starts being fixed at the top of the screen*/

.floating {
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, .5);
}

div#toolbar.floating,
#searchheader.floating {
    border-radius: 0;
    margin-top: 0;
}

.inline {
    display : inline;
}

.nowrap {
    white-space: nowrap;
}

.tag_editor {
    background: transparent url("../img/edit-tag.png") top left no-repeat;
    display : block;
    float : left;
    width : 16px;
    height: 16px;
    margin : 4px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.browse-controls {
    margin-left: 1.1em;
    margin-right: .5em;
    padding-bottom: 1em;
    padding-top: 1em;
}

#browse-return-to-results {
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
    display: block;
    text-align: center;
}

.browse-button {
    color: #004d99;
    padding: .4em .6em;
    display: inline-block;
}

span.browse-button {
    background: #fafafa;
    color: #222;
}

.browse-button:hover {
    background: #fafafa;
}

.browse-label,
.browse-prev-next {
    border: 1px solid #b9d8d9;
}

.browse-label {
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    background-color : #e8f0f6;
}

.browse-prev-next {
    border-top-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#browse-previous {
    border-right : 1px solid #B9D8D9;
    border-bottom-left-radius: 5px;
    padding-right: 1em;
}

#browse-next {
    border-top-width : 0;
    border-bottom-right-radius: 5px;
    float: right;
    padding-right: 1em;
}

.loading-overlay {
    background-color: #FFF;
    cursor: wait;
    height: 100%;
    left: 0;
    opacity: .7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.loading-overlay div {
    background : transparent url(../img/loading.gif) top left no-repeat;
    font-size : 175%;
    font-weight: bold;
    height: 2em;
    left: 50%;
    margin: -1em 0 0 -2.5em;
    padding-left : 50px;
    position: absolute;
    top: 50%;
    width: 15em;
}

#merge_invoices {
    display: none;
    margin: 1em auto;
}

#merge {
    margin: 0.5em 0 0 0;
}

#merge_table tr.active td {
    background-color: #FFFFCC;
}

.renewals {
    display:block;
    font-size:0.8em;
    padding:0.5em;
}

#transport-types {
    padding-top: 0.5px;
}

#i18nMenu .navbar-text .currentlanguage {
    color : #000;
    font-weight: bold;
}

#i18nMenu a.currentlanguage:link,
#i18nMenu a.currentlanguage:visited {
    font-weight: bold;
}

#i18nMenu a,
#i18nMenu a:link,
#i18nMenu a:visited {
    color : #004d99;
    font-weight: normal;
}

#i18nMenu a:hover,
#i18nMenu a:active,
#i18nMenu .dropdown-menu a:hover,
#i18nMenu .dropdown-menu a:focus {
    color : #538200;
    font-weight: normal;
}

#i18nMenu a .sublanguage-selected {
    color: #000;
    font-weight: bold;
}

#i18nMenu .dropdown-menu a:hover,
#i18nMenu .dropdown-menu a:focus {
}

#circ_circulation_issue .onsite_checkout-select label,
.onsite_checkout-select label {
    font-size : inherit;
    font-weight: normal;
}
span.onsite_checkout {
    color: #cc0000;
}
.onsite-checkout-only {
    background-color : rgba(255, 242, 206, 0.5);
    border-radius: 4px;
    border : 1px solid #FFF2CE;
}

div.lastchecked {
    padding : .2em 1em;
    border: 2px solid #BCDB89;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.branchgriditem {
    background-color: #fff;
    border: 1px solid #b9d8d9;
    border-radius: 3px;
    display: table-cell;
    float: left;
    margin: 3px;
    padding: 0.3em;
}
.branchgridrow {
    display: table-row;
}
.branchselector {
    display: table;
}

.hq-author {
    font-weight: bold;
}

div#cn_browser_table_wrapper > table#cn_browser_table {
   margin: auto;
   width:90%;
}

/* Tools > automatic_item_modification_by_age */
div.rules {
    display: block;
}

#new_rule {
    display: none;
}

#new_rule, div.rule {
    background-color: #F4F8F9;
    border: 2px solid #B9D8D9;
    border-radius: 5px;
    margin: .3em;
    padding: .3em;
}

.blocks {
    margin-bottom: .3em;
}

.remove_rule {
    padding-left: .7em;
    font-size: 80%;
}

div[class$="_table_controls"] {
    padding: .7em 0;
}

.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: overline;
}

.order-control {
    padding-right: 5px;
}

#borrower_message {
    margin-top: 10px;
}

.form-group {
   margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
}

.modal-textarea {
    width: 98%;
}

fieldset.rows + fieldset.action {
    padding-top: 20px;
}

.yui-u .rows li p label.widelabel {
    width: auto;
}

#pat_member #patron_list_dialog,
#pat_member #searchresults,
#patron_search #filters {
    display: none;
}

#news_posted {
    width: 50%;
    background-color: #F1F1F1;
}


